body{
  background: #282c34;;
  display: flex;
  justify-content: center ;
  font-family:"JetBrains Mono",monospace;
  color: #FFFFFF;
}

.game{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color:#fff;
  margin: 100px auto 100px ;
  border-radius: 20px;
  padding : 40px 35px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 15px; 
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width : 50px ;
}

.button-30 :focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.button-31 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width : 100px ;
  margin-left: 15px;
}

.button-31 :focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-31:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-31:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

h1 {
  color: #FCFCFD;
  text-align: center;
  font-family: "JetBrains Mono",monospace;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2px;
  background: linear-gradient(to right, #6d28d9, #2e1065);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(171, 153, 153, 0.4);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  margin-bottom: 20px;
}

h1:hover {
  transform: scale(1.1);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.status{
    color: #282c34;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;  
}


.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000;
}


.confetti {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  animation: fall linear infinite;
}

.confetti:nth-child(odd) {
  transform: rotate(45deg);
}

.confetti:nth-child(even) {
  transform: rotate(-45deg);
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

